html{
    background-color: beige;
    height: 100%;
}

.childdiv{
    text-align: center;
    height: 100%;
    width: 80%;
    background-color: black ;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
}   

img{
    width: 70%;
    border-radius: 10px;
}

h1{
    margin: 0 auto;
    font-size: 3em;
    color: #ebebe5;
    font-family: monospace;
}

p{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: monospace;
}


input[type="email"]{
    width: 300px;
    height: 42px;
    border-color: red;
    border-style: solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0;
    outline: none;
    font-size: 18px;
}

input[type="submit"]{
    height: 46px;
    border-color: red;
    border-style: solid;
    background-color: red;
    color: white;
    width: 100px;
    font-size: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
}

::placeholder {
    text-align: center; 
 }