body {
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
}

.main {
    width: 50vh;
    height: 70vh;
    background: hsl(0, 0%, 12%);
    margin: auto;
    border-radius: 5px;
}

.aux{
    background: hsl(0, 0%, 20%);
    color: white;
    height: 8%;
    width: 80%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    text-align: center;
    

}
