#html, body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#upper-div{
    background-color: #dadbf1;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-box{
    width: 90vh;
    height: 8vh;
    margin-top: 0%;
    border-radius: 5px;
    font-size: 1em;
    padding-left: 1em;

}

h1{
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2%;

}

h3{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}

#container{
    margin: auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    
}

#box{
    border: 4px solid black;
    margin: 5px 10%;
    padding: 23px;
    display: inline-block;
    width: 30%;
    height: 40vh;
    box-sizing: border-box;
    border-radius: 10px;
    

}

footer{
    background-color: black;
    height: 30vh;

}

p{
    font-size: 20px
}

nav{
    background-color: black;
    height: 12vh;
    padding-left: 40px;
    padding-right: 40px;
}


li{
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 0 1rem;
}

ul{
    float: right;
    margin-left: 0;
    padding-left: 0;
    
}

#req-submit{
    background-color: grey;
    color: white;
    width: 170px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;

}

#sign-in{
    background-color: lightskyblue;
    color: white;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;

}

img{
    width: 50px;
    height: 50px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#menu-name{
    color: white;
    text-align: left;
    
}
